{% extends "base.html.twig" %}

{% block content %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Введите новый пароль для администратора для обеспечения безопасаности</h4>
                        {% if error is not null %}
                            <small class="text-danger">{{ error }}</small>
                        {% endif %}
                        <form action="/admin/password/change" method="post">
                            <div class="input-group mt-3">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Введите пароль" required/>
                            </div>
                            <div class="input-group mt-3">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="passwordConfirm" placeholder="Введите пароль повторно" required/>
                            </div>
                            <div class="text-right mt-3">
                                <input type="submit" class="btn btn-primary" value="Изменить пароль">
                            </div>
                        </form>
                    </div>
                </div>
{% endblock %}